/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    macros {
        windowtab: windowtab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp RALT>;

            label = "WINDOWTAB";
        };

        spotlight: spotlight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "SPOTLIGHT";
        };

        ue: ue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp Y>,
                <&macro_release>,
                <&kp RALT>;

            label = "UE";
        };

        oe: oe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp P>,
                <&macro_release>,
                <&kp RALT>;

            label = "OE";
        };

        ae: ae {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp Q>,
                <&macro_release>,
                <&kp RALT>;

            label = "AE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE        &kp Q  &kp W  &kp E  &kp R        &kp T    &none  &none  &kp Z    &kp U          &kp I      &kp O    &kp P     &kp CAPSLOCK
&mo 4             &kp A  &kp S  &kp D  &kp F        &kp G    &none  &none  &kp H    &kp J          &kp K      &kp L    &kp SEMI  &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp Y  &kp X  &kp C  &kp V        &kp B                  &kp N    &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp LGUI
                                &mo 3  &lt 2 SPACE  &kp TAB                &kp RET  &kp BACKSPACE  &mo 1
            >;
        };

        SYM {
            display-name = "Symbols";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&trans  &kp CARET         &kp SINGLE_QUOTE       &kp DOUBLE_QUOTES  &kp GRAVE          &kp TILDE      &none  &none  &kp AT_SIGN   &kp PLUS         &kp ASTERISK   &kp EQUAL  &kp UNDERSCORE  &trans
&trans  &kp LESS_THAN     &kp LEFT_PARENTHESIS   &kp LEFT_BRACE     &kp LEFT_BRACKET   &kp BACKSLASH  &none  &none  &kp QUESTION  &kp EXCLAMATION  &kp AMPERSAND  &kp PIPE   &kp MINUS       &trans
&trans  &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE    &kp RIGHT_BRACKET  &kp SLASH                    &kp DOLLAR    &kp PERCENT      &kp COLON      &kp HASH   &kp SLASH       &trans
                                                 &trans             &spotlight         &windowtab                   &trans        &trans           &trans
            >;
        };

        NUM {
            display-name = "Numbers";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
&trans  &none  &kp F9  &kp F10  &kp F11  &kp F12  &none  &none  &kp N0     &kp N7  &kp N8  &kp N9  &kp STAR  &kp KP_NUMLOCK
&trans  &none  &kp F5  &kp F6   &kp F7   &kp F8   &none  &none  &kp MINUS  &kp N4  &kp N5  &kp N6  &kp FSLH  &trans
&trans  &none  &kp F1  &kp F2   &kp F3   &kp F3                 &kp UNDER  &kp N1  &kp N2  &kp N3  &kp DOT   &trans
                       &trans   &trans   &trans                 &trans     &trans  &trans
            >;
        };

        NAV {
            display-name = "Navigation";
            bindings = <
&kp ESC    &none  &none  &none   &none   &none    &none  &none  &none   &ue             &trans          &oe              &none  &trans
&kp LSHFT  &ae    &none  &none   &none   &none    &none  &none  &none   &kp HOME        &kp UP_ARROW    &kp END          &none  &trans
&kp LCTRL  &none  &none  &none   &none   &none                  &none   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none  &trans
                         &trans  &trans  &kp TAB                &trans  &kp DEL         &trans
            >;
        };

        SYS {
            display-name = "System";
            bindings = <
&trans  &trans        &trans        &trans        &trans      &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans
&trans  &trans        &trans        &trans        &sys_reset  &studio_unlock  &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &bt BT_CLR_ALL                  &trans  &trans  &trans  &trans  &bootloader  &trans
                                    &trans        &trans      &trans                          &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        System {
            if-layers = <1 3>;
            then-layer = <4>;
        };
    };
};
